@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,300,800);
*,
*::after,
*::before{
    box-sizing: border-box;
} 
body{
    margin: 0;
    padding: 0;
    background-color: #2d2013;

    font-family: 'Open Sans', sans-serif;
    color:#fff;
    line-height: 22px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600; 
    font-family: 'Open Sans', sans-serif;
    color: #ffff;

}
.wrapper{
    width: 1440px;
    margin: 0 auto;
}
.container{
    width: 1200px;
    margin: 0 auto;

}
.header{
    padding: 0;
    width: 100%;
    background-color: #23180d;
}
a{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: #d57d1f;


}
.nav{
    display: flex;
    justify-content: space-between;
    /* background-color: #5bbad5; */
    align-items: center;
    height: 84px;

}
.search {
    position: relative;
}
.search>input{
    background-color: #fff;
    border-radius:4px;
    padding: 5px 10px;
    width: 150px;
    color: gray;
    height: 36px;
    font-size: 20px;


}
.header-right{
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header-right>button{
    width: 80px;
    height: 36px;
    background-color: #d43133;
    color: white;
    border: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;

}
.header-right>h3{
    color: white;
    width: 60px;
    height: 36px;
    border-radius: 4px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
.header-right>h3:hover{
    background-color: red;
}
.main-content{
    display: flex;
    flex-direction: column;
}
.flag-info{
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.text-main{
    display: flex;
    gap: 290px;
    width: 100%;

    
}
.main-container{
    display: flex;
}
.image-content{
    width: 500px;
    display: flex;
    flex-direction: column;
}
.image-content>img{
    width: 100%;
    object-fit: cover;
    
}
.ingrid-image{
    width: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.ingrid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}